/* .play-icons {
  color: white;
  font-size: 20px;
} */

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
  align-items: center;
}
.center {
  justify-content: center;
  align-items: center;
}

.bi-pause-circle-fill {
  font-size: 3rem;
  margin-inline: 10px;
}

hr {
  color: white;
  border: 1px solid white;
  position: absolute;
  width: 50%;
}

.bi-circle-fill {
  font-size: 1rem;
  position: relative;
  left: 55%;
}

.fit-image {
  width: 100%;
  object-fit: cover;
  padding-left: 0;
  padding-right: 0;
}

.text-padding {
  padding-left: 10px;
  padding-right: 10px;
}

li {
  list-style: none;
}

.nav-item {
  margin-left: 10px;
}

.margin {
  margin: auto;
}

.align-left {
  justify-content: flex-start;
  width: 100%;
}

.no-padding {
  padding-left: 0px;
  width: 100%;
}

.column {
  flex-direction: column;
}

.height-300 {
  max-height: 100px;
}

.dark-line {
  color: rgb(24, 24, 24);
  border: 2px solid rgb(24, 24, 24);
  width: 82%;
}
