/* .play-icons {
  color: white;
  font-size: 20px;
} */

.jumbotron {
  -webkit-animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
  align-items: center;
}
.center {
  justify-content: center;
  align-items: center;
}

.bi-pause-circle-fill {
  font-size: 3rem;
  margin-inline: 10px;
}

hr {
  color: white;
  border: 1px solid white;
  position: absolute;
  width: 50%;
}

.bi-circle-fill {
  font-size: 1rem;
  position: relative;
  left: 55%;
}

.fit-image {
  width: 100%;
  object-fit: cover;
  padding-left: 0;
  padding-right: 0;
}

.text-padding {
  padding-left: 10px;
  padding-right: 10px;
}

li {
  list-style: none;
}

.nav-item {
  margin-left: 10px;
}

.margin {
  margin: auto;
}

.align-left {
  justify-content: flex-start;
  width: 100%;
}

.no-padding {
  padding-left: 0px;
  width: 100%;
}

.column {
  flex-direction: column;
}

.height-300 {
  max-height: 100px;
}

.dark-line {
  color: rgb(24, 24, 24);
  border: 2px solid rgb(24, 24, 24);
  width: 82%;
}

#favourite-albums h3 div + div {
  position: relative;
}

.genre-badge {
  width: 100px;
  height: 30px;
  opacity: 0.85;
  background-color: pink;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  position: absolute;
  top: 0;
}

#add-track:hover {
  box-shadow: 12px 12px 2px 1px rgba(0, 195, 255, 0.2);
}

.pointer {
  cursor: pointer;
}
